# Tipos de datos básicos y variables Python

En Python tenemos como tipos de datos simples números: enteros, de coma flotante y complejos, como pueden ser 3, 15.57 o 7 + 5j; cadenas de texto, como “Hola Mundo” y valores booleanos: True (cierto) y False (falso). (Ejercicios tomados de: http://entrenamiento-python-basico.readthedocs.io/es/latest/leccion3/)

In [2]:
# Esto es una cadena
c = "Hola Mundo"

# Y esto es un entero
e = 28

# Podemos comprobarlo con la función type
print(type(c))
print(type(e))

<class 'str'>
<class 'int'>

In [3]:
e

28

In [6]:
# O de forma booleana
print(type(c) is str)
print(type(e) is int)

True
True

In [9]:
# Por ejemplo en Java, C, C++ o en C# era algo así
""" String c = "Hola Mundo"; """
""" int e = 23; """

' int e = 23; '

## Tipos de números

### Enteros

In [10]:
# type(entero) daría int
entero = 23
type(entero)

int

In [12]:
# type(entero_L) daría long (Pero solo para Python 2)
entero_L = 23L
type(entero_L)

int

In [13]:
# 027 octal = 23 en base 10
entero_octal = 0o27
type(entero_octal)

int

In [14]:
# Vamos a sumar al octal
entero_octal += 0o1
print(entero_octal)
print(oct(entero_octal))

24
0o30

In [ ]:
# 0x17 hexadecimal = 23 en base 10
entero_hex = 0x17
type(entero_hex)

In [ ]:
# Vamos a sumar al hex
entero_hex += 0x1
print(entero_hex)
print(hex(entero_hex))

### Reales

In [15]:
# Esto es un real
real = 0.2703
print(type(real))

<class 'float'>

In [16]:
# Verifiquemos con el type is float
print(type(real) is float)

True

In [18]:
# Ahora notación científica
real_sci = 0.1e-30000+1
print(real_sci)
print(type(real_sci))

1.0
<class 'float'>

### Complejos

In [ ]:
# Esto es un número complejo
complejo = 2.1 + 7.9j
print(complejo + 1j)
print(type(complejo))

In [ ]:
# Verifiquemos con el type is complex
print(type(complejo) is complex)

In [ ]:
# ¿Y esto será igual?
print( 2.1 + 7.8j == complex(2.1, 7.8) )

## Tipo Cadenas

In [ ]:
# Veamos unicode, raw y "normal"
unicode = u"äóè"
raw = r"\n"
normal = "1\n2"
print(unicode)
print(raw)
print(normal)

In [19]:
# Operemos sobre cadenas
a = "uno"
b = "dos"

c = a + b # c es "unodos"
print(c)
c = a * 3 # c es "unounouno"
print(c)

unodos
unounouno

In [ ]:
# Comillas simples
cadenaa = 'Texto entre "comillas" simples'
print(cadenaa)
print(type(cadenaa))

In [ ]:
# ¿Será un str con el type?
print(type(cadenaa) is str)

In [ ]:
# Comillas dobles
cadenab = "Texto entre 'comillas' dobles"
print(cadenab)
print(type(cadenab))

In [ ]:
# ¿Será un str con el type?
print(type(cadenab) is str)

In [ ]:
# Cadena con código escapes
cadenaesc = 'Texto entre \n\tcomillas simples'
print(cadenaesc)
print(type(cadenaesc))

In [20]:
# Cadena multilinea
cadenac = """Texto linea 1
linea 2
linea 3
linea 4
.
.
.
.
.
linea N
"""
print(cadenac)
print(type(cadenac))

Texto linea 1
linea 2
linea 3
linea 4
.
.
.
.
.
linea N

<class 'str'>

In [ ]:
# ¿Será un str con el type?
print(type(cadenac) is str)

In [ ]:
# Repeticion de cadena
cadrep = "Cadena" * 3
print(cadrep)
print(type(cadrep))

In [23]:
# Concatenacion de cadena
nombre = "Leonardo"
apellido = "Caballero"
nombre_completo = nombre + " " + apellido
print (nombre_completo)
print(type(nombre_completo))
print(f"{nombre} {apellido}")

Leonardo Caballero
<class 'str'>
Leonardo Caballero

In [24]:
print("Tamano de cadena '", nombre_completo, "' es:", len(nombre_completo))

Tamano de cadena ' Leonardo Caballero ' es: 18

In [29]:
# acceder a rango de la cadena
print(nombre_completo[0:3])

r

## Tipo de booleano

In [ ]:
aT = True
print("El valor es Verdadero:", aT, ", el cual es de tipo", type(aT), "\n")

In [ ]:
# Miremos como se ve con el type
print(type(aT) is bool)

In [ ]:
aF = False
print("El valor es Falso:", aF, ", el cual es de tipo", type(aF))

In [ ]:
# Operadores booleanos
aAnd = True and False
print("SI es Verdadero Y Falso, entonces es:", aAnd, ", el cual es de tipo", type(aAnd), "\n")

In [ ]:
# ¿Esto será booleano?
print( type((3 < 1)) is bool )

In [ ]:
aOr = True or False
print("SI es Verdadero O Falso, entonces es:", aOr, ", el cual es de tipo", type(aOr), "\n")

In [ ]:
aNot = not True
print("Si NO es Verdadero, entonces es:", aNot, ", el cual es de tipo", type(aNot), "\n")

## Tipos de conjuntos

Un conjunto, es una colección no ordenada y sin elementos repetidos. 
Los usos básicos de éstos incluyen verificación de pertenencia y 
eliminación de entradas duplicadas.

In [ ]:
# crea un conjunto sin repetidos
plato = ['pastel', 'pastas', 'papa', 'empanada', 'queso', 'queso']
print(plato)
print(type(plato))
bebida = ['refresco', 'malta', 'jugo', 'cafe']
print(bebida)
print(type(bebida))

In [ ]:
# ¿Será tipo list?
print(type(plato) is list)

In [ ]:
# establece un conjunto a una variable
para_comer = set(plato)
print(para_comer)
print(type(para_comer))

In [ ]:
# ¿Será tipo list?
print(type(plato) is list)
print(type(plato) is set)

In [ ]:
para_tomar = set(bebida)
print(para_tomar)
print(type(para_tomar))

In [ ]:
# Ejemplo practico de los condicionales
hay_pastas = 'pastas' in para_comer
hay_fresco = 'refresco' in para_tomar
print("hay_pastas:", hay_pastas)
print("hay_fresco:", hay_fresco)

In [ ]:
# valida si un elemento esta en el conjunto
print("¿Tienes pastas?: ", 'pastas' in para_comer)
# valida si un elemento esta en el conjunto
print("¿Tienes refresco?: ", 'refresco' in para_tomar)

if (hay_pastas and hay_fresco):
	print("Desayuno vergatario")
else:
    print("Desayuno ligero")

## Tipos de listas

La lista en Python son variables que almacenan arrays, internamente cada posicion puede ser un tipo de datos distinto.

In [ ]:
# Coleccion ordenada / arreglos o vectores
l = [2, "tres", True, ["uno", 10]]
print(l)

In [ ]:
# ¿Cuál es el tipo de dato?
print(type(l))
print(type(l) is list)

In [ ]:
# Accesar a un elemento especifico
l2 = l[1]
print(l2)

In [ ]:
# Accesar a un elemento a una lista anidada
l3 = l[3][0]
print(l3)

In [ ]:
"[2, 'tres', True, ['uno', 10]]"
# establecer nuevo valor de un elemento de lista
l[1] = 4
print(l)
l[1] = "tres"
print(l)

In [ ]:
# Obtener un rango de elemento especifico
l3 = l[1:3]
print(l3)

In [ ]:
n_l = [0, 1, 2, 3, 4, 5, 6]
print(n_l[3:5:2])

In [ ]:
# Obtener un rango con saltos de elementos especificos
l4 = l[3][1:3:20]
print(l4)

In [ ]:
l5 = l[1::2]
print(l5)

## Tipos de tuplas

Una tupla es una lista inmutable. Una tupla no puede modificarse de ningún modo después de su creación.

In [ ]:
# Ejemplo simple de tupla
tupla = 12345, 54321, 'hola!'
print(tupla)
print(type(tupla))

In [ ]:
# Ejemplo de tuplas anidadas
otra = tupla, (1, 2, 3, 4, 5)
print(otra)

In [ ]:
# operación asinacion de valores de una tupla en variables
x, y, z = tupla
print(x, y, z)

In [ ]:
print ("\nDefiniendo conexion a BD MySql")
print ("==============================\n")

conexion_bd = "127.0.0.1","root","123456","nomina",
print ("Conexion tipica:", conexion_bd)
print (type(conexion_bd))
conexion_completa = conexion_bd, "3307","10",
print ("\nConexion con parametros adicionales:", conexion_completa)
print (type(conexion_completa))

print ("\n")

print ("Acceder a la IP de la bd:",  conexion_completa[0][0])
print ("Acceder al usuario de la bd:",  conexion_completa[0][1])
print ("Acceder a la clave de la bd:",  conexion_completa[0][2])
print ("Acceder al nombre de la bd:",  conexion_completa[0][3])
print ("Acceder al puerto de conexion:", conexion_completa[1])
print ("Acceder al tiempo de espera de conexion:", conexion_completa[2])

print ("\nMas informacion sobre Mysql y Python http://mysql-python.sourceforge.net/MySQLdb.html")

## Tipos de diccionarios

El diccionario define una relación uno a uno entre claves y valores.

In [ ]:
datos_basicos = {
    "apellidos":"Caballero Garcia",
    "cedula":"14522590",
    "fecha_nacimiento":"03121980",
    "lugar_nacimiento":"Maracaibo, Zulia, Venezuela",
    "nacionalidad":"Venezolana",
    "estado_civil":"Complicado",
    "nombres":"Leonardo Jose",
}

In [ ]:
print("Impresión normal del diccionario.")
print(datos_basicos['nombres'])

In [ ]:
print("Claves del diccionario:")
print(datos_basicos.keys())

In [ ]:
print("Valores del diccionario:")
print(datos_basicos.values())

In [ ]:
print("Elementos del diccionario:")
print(datos_basicos.items())

In [ ]:
# Ejemplo practico de los diccionarios
print ("\nInscripcion de Curso")
print ("====================")

print ("\nDatos de participante")
print ("---------------------")

print ("Cedula de identidad:", datos_basicos['cedula'])
print ("Nombre completo: " + datos_basicos['nombres'] + " " + datos_basicos['apellidos'])

## Operadores aritméticos

In [ ]:
"""
    Operadores numericos
"""

a = 26
b = 11.3
c = 5
d = 3.5

In [ ]:
# Suma, Añade valores a cada lado del operador
print(a + b)
print(type(a + b))

In [ ]:
# Resta, Resta el operando de la derecha del operador del lado izquierdo
print(c - a)
print(type(c - a))

In [ ]:
# Multiplicacion, Multiplica los valores de ambos lados del operador
print(d * c)

In [ ]:
# Exponente, Realiza el cálculo exponencial (potencia) de los operadores
print(float(c) ** 2)

In [ ]:
# Division python 2
print(float(c) / a)

In [ ]:
# Division python 3
print(c / a)

In [ ]:
# Division entera python 3
print(c // a)

In [ ]:
# Modulo, Divide el operando de la izquierda por el 
# operador del lado derecho y devuelve el resto.
print(7 % 5)

## Operadores relacionales

Los valores booleanos son además el resultado de expresiones que utilizan operadores relacionales (comparaciones entre valores):

In [ ]:
a = 5
b = 5
a1 = 7
b1 = 3
c1 = 3

cadena1 = 'Hola'
cadena2 = 'Adios'

lista1 = [1, 'Lista Python', 23]
lista2 = [11, 'Lista Python', 23]

In [ ]:
# igual
c = a == b
print(c)

In [ ]:
cadenas = cadena1 == cadena2
print(cadenas)

In [ ]:
listas = lista1 == lista2
print(listas)

In [ ]:
# diferente
d = a1 != lista1
print(d)

In [ ]:
cadena0 = cadena1 != cadena2
print(cadena0)

In [ ]:
# mayor que
e = a1 > b1
print(e)

In [ ]:
# menor que
f = b1 < a1
print(f)

In [ ]:
# mayor o igual que
g = b1 >= c1
print(g)

In [ ]:
# menor o igual que
h = b1 <= c1
print(h)